*.md text working-tree-encoding=UTF-8
*.MD text working-tree-encoding=UTF-8
*.ps1 text eol=crlf working-tree-encoding=UTF-8
*.cs text eol=crlf working-tree-encoding=UTF-8
*.7z binary
*.onnx binary
*.dll binary
*.exe binary
